.main_content{
    height:90vh;
    width:30vw;
    margin-left: 38%;
    background-color:floralwhite;
    border: 1px solid black;
}
.heading{
    font-style: italic;
    margin-top: 10%;
}
.Text1{
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 5%;
    font-weight: bold;
   opacity: 0.7;
}
.input1 {
    margin-top: 4%;
    width:20vw;
    margin-left: 15%;
}
.input2 {
    margin-top: 4%;
    width:20vw;
    margin-left: 15%;
}
.input3 {
    margin-top: 4%;
    width:20vw;
    margin-left: 15%;
}
.input4 {
    margin-top: 4%;
    width:20vw;
    margin-left: 15%;
}

.button{
    margin-top: 4%;
    width:20vw;
    margin-left: 15%;
    background-color: blue;
    color:floralwhite;
    border-radius: 6px;
}
.Text2{
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 5%;
    /* font-weight: bold; */
   opacity: 0.7;
}
