.container{
    height:90vh;
    width:30vw;
    margin-left: 40%;
    background-color:whitesmoke;
    border: 1px solid black;
    margin-top:1%;
}
.para{
    margin-left:28px;
}
h4{
    margin-top: 25%;
}
.input{
    width:25vw;
    margin-left:20px;
}

.button {
    margin-top: 10px;
    margin-left: 20px;
    width:25vw;
    background-color: rgb(36, 47, 198);
    color:white;
}
.divider{
display: flex;
}
.divider1{
    margin-left: 20px;
    width:10vw;
    margin-top: 30px;
}
.divider2{
    margin-left: 20px;
    width:10vw;
    margin-top: 30px;
}
.text{
    margin-top: 18px;
    margin-left: 20px;
}
.button3 {
    margin-top: 65%;
    margin-left:2% ;
    width:28vw;
    color:black;
}